PORT=5055
NODE_ENV=development
JWT_ACCESS_SECRET=change_me_access_secret
JWT_REFRESH_SECRET=change_me_refresh_secret
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d

MONGODB_URI_DEVELOPMENT=mongodb+srv://mixazili:<db_password>@cluster.zwc3usw.mongodb.net/auction_by_dev?retryWrites=true&w=majority&appName=Cluster
MONGODB_URI_TEST=mongodb+srv://mixazili:<db_password>@cluster.zwc3usw.mongodb.net/auction_by_test?retryWrites=true&w=majority&appName=Cluster
MONGODB_URI_PRODUCTION=mongodb+srv://mixazili:<db_password>@cluster.zwc3usw.mongodb.net/auction_by?retryWrites=true&w=majority&appName=Cluster

CLIENT_URL=http://127.0.0.1:5173
